body{
    margin: 0;
    height: 100vh;
}
#con{
    letter-spacing: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

video{
    box-sizing: border-box;
    width: 50%;
    border: 1px solid black;
}