#body-col{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #F0F0F2;
}
.bfcksidbar{
    width: 200px;;
}
.afcksidebar{
    width: 75px;
}
.nono{
    display: none;
}
.jungsangsu{
    left: 0px;
}
.notjungsangsu{
    left: 124px;
}
.topbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
#user-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.list{
    display: flex;
    flex-direction: row;
}
.listimg>img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
#user-bar>a{
    color: white;
    text-decoration: none;
    font-family: 궁서;
    font-size: 25px;
    background-color: teal;
    border-radius: 5px;
    transition: 0.5s;
}
#user-bar>a:hover{
    color: white;
    background-color: black;
    font-family: 맑은고딕;

}
body{
    margin: 0px;
    display: flex;
    flex-direction: row;
    height: 100%;
}
#sidebar{
    
    background-color: #E8E8E8;

}
#mainbar{
    width: 100%;
    height: 100%;
}
#body{
    
    transform-style: preserve-3d;
    width: 60%;
    height: 600px;
    
}
#body-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #F0F0F2;
}

video{
    width: 530px;
    height: 300px;
    position: absolute;
    top: 0%;
    left: 0%;
    transition: 0.5s;
    background-color: rebeccapurple;
}

.top{
    display:inherit;
    transform: translate3d(25px,50px,0px) perspective(150px) ;
    box-shadow: 5px 5px 5px;
    
}
.center{
    display:inherit;
    transform: perspective(150px) translate3d(375px,60px,-25px) ;
    
}
.bottom{
    display:inherit;
    transform: perspective(150px) translate3d(875px,70px,-50px) ;
    
}
#button{
    display:inherit;
    width: 50px;
    height: 50px;
    transform: translate3d(1175px,180px,50px);
    background-color: white;
    transition: 0.5s;
    opacity: 0.5;
    border-radius: 5px;
}
#button:hover{
    display:inherit;
    opacity: 0.8;
    background-color: gainsboro;
    border-radius: 5px;
}
@media screen and (max-width:1420px){
    .top{
        
        transform: translate3d(25px,50px,0px) perspective(150px) ;
        
        
    }
    .center{
        display:inherit;
        transform: perspective(150px) translate3d(400px,60px,-25px) ;
        
    }
    .bottom{
        display:inherit;
        transform: perspective(150px) translate3d(700px,70px,-50px) ;
        
    }
    #button{
        
       
        transform: translate3d(1000px,180px,50px);
        
        
    }
}

@media screen and (max-width:1240px){
    .jungsangsu,.notjungsangsu{
        left: 0px;
    }
    .topbar{
        display: none;
    }
    #sidebar{
        width: 75px;
    }
    .listtext{
        display: none;
    }
    #body-main{
        display: inherit;
    }
    video{
        position: relative;
    }
    #body{
        width: 100%;
        transform-style:inherit;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .top{
        transform: none;
        left: 0px;
    }
    .center{
        display: none;
        left: 0px;
    }
    .bottom{
        display: none;
        left: 0px;
    }
    #button{
        transform: none;
        position: relative;
    }

}
#top-bar{
    width: 100%;
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.sumbody{
    margin-bottom: 20px;
    height: 230px;
    width: 320px;
    
}
.infobar{
    display: flex;
    display: flex;
    flex-direction: row;
    
}
.sumbimg{
    margin: auto;
    height: 150px;
    width: 280px;
    margin-bottom: 25px;

}
.userimg{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: green;
}
