.retextcon>.title{
    font-size: 20px;
    font-weight: 700;
}
.retextcon>.user{
    font-size: 17px;
    font-weight: 550;
}
.retextcon>.subject{
    font-size: 15px;
    font-weight: 700;
    color: #EB94AC;
}
.vjs-control-bar>select{
    background-color : rgba(255, 255, 255, 0);
    opacity: 1;
    color: white;
    margin: none;
    border: none;
}
option{
    background-color: white;
    color:black;
}
.vjs-progress-control {
    bottom: 28px;
    left: 0 ;
    font-size: 10px;
    width: 100%;
    height: 0px;
}