<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div><span>이름</span><input></div>
    <div><span>생년월일(주민번호 앞자리+뒷자리 첫번째)</span><input></div>
    <div><span>성별</span><label><input type="radio" name="sex">남</label><label><input type="radio" name="sex">여</label></div>
    <div>e-mail<input type="email"></div>
</body>
<script>
    
</script>
</html>