<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        video{
            display: none;
        }
    </style>
</head>
<body>
    <button>녹화하기</button>
    <video width="1280" height="720"></video>
    <script src="/node_modules/socket.io/client-dist/socket.io.min.js"></script>
    <script>
        const socket = io()
        const video = document.querySelector('video');
        const button = document.querySelector('button');
        let stream = null;
        let record = [];
        let mediaRecord = null;
        const main = async () => {
            stream = await navigator.mediaDevices.getDisplayMedia({audio: true, video: true});
            video.srcObject = stream;
        };
        button.addEventListener('click', async e => {
            if(button.innerHTML === '녹화하기'){
                await main();
                socket.emit("takepoststart","")
                mediaRecord = new MediaRecorder(stream, {
                    MimeType:'video/webm;codecs=vp9'
                });
                mediaRecord.addEventListener('dataavailable', e => {
                    socket.emit("takepost",e.data)
                    console.log(e.data)
                });
                mediaRecord.addEventListener('stop', e => {
                    socket.emit("takeend","")
                    console.log(record)
                });
                mediaRecord.start(3000);
                button.innerHTML = '저장하기';
            } else {
                mediaRecord.stop();
                button.innerHTML = '녹화하기';
            }
        });
        //takepoststart takepost takeend
    </script>
</body>
</html>